name: Build LaTeX document
on:
  push:
  workflow_dispatch:

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v6

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: |
            c*.tex
            review.tex
          latexmk_use_xelatex: true

      - name: Upload PDF file
        uses: actions/upload-artifact@v5
        with:
          name: Matrix_Analysis_Homework_PDF
          path: |
            *.pdf
